{% extends 'portfolio/base.html' %}
{% block content %}

  <!--Блок настройки джанго приложений-->
  <h1>Мое портфолио</h1>

{% load static %} <!--Эту команду размещаем со статическими файлами-->

<a href="{% url 'blog:all_blogs' %}">Blog</a>
<br>

<a href="{% static 'portfolio/Resume.pdf' %}">Resume</a> <!--Прикрепляем пдф файл,чтобы пользователь мог скачать его-->
<br>

<img src="{% static 'portfolio/20211113_193021.jpg' %}" height=700 width=600> <!--Рзмещаем личное фото-->

{% for project in projects %}


<h2>{{ project.title }}</h2> <!-- добавляем атрибут title из (model.py) к итератору нашего цикла-->
<p>{{ project.description }}</p> <!-- p - знак параграфа -->
<img src="{{ project.image.url }}" height=100 width=100>             <!-- добавим изображение, регулировка изобращения при помощи параметров height и width -->

{% if project.url %} <!--Определение логической зависимости чтоб ссылка куда-то вела-->
<br><a href="{{ project.url }}">link</a> <!--Последний блок это ссылка-->
{% endif %}

{% endfor %}

{% endblock %}


<!-- это запрос чтобы увидеть содержимое объекта-->
<!-- в ответ на запрос мы получили: <t [<Project: Project object (1)>]> - это что-то вроде списка -->
<!-- получить из него инфу можно воспользоваться циклом for и меняем {{ project }} -->
<!--Задаем параметры цикла-->
<!--Это синтаксис джанго для работы с шаблонами-->
<!--Если в шаблоне есть некий список и нам надо по нему пройтись то запускаем цикл for в html-->
<!--Код и шаблоны используется одинарные фигурные скобки и процент -->
<!--Если словарь, то двойные фигурные скобки " " -->
<!--Затем обращаемся к models.py смотрим на атрибуты -->








